.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

header {
    background: url("images/photo.png") no-repeat;
    background-size: cover;
}

.nav-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav-bar .logo a {
    border: 1px solid;
    display: inline-block;
    padding: 9px 20px;
    background: deepskyblue;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.nav-bar .logo {
    float: left;
}

.nav-bar .bar ul li {
    float: left;
    list-style-type: none;
}

.nav-bar .bar .lists {
    float: right;
    margin: 0;
    padding: 0;
}

.nav-bar .bar ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.nav-bar .bar ul li a:hover {
    background: deepskyblue;
}

.container-header {
    border: 1px solid white;
    box-sizing: border-box;
    max-width: 1470px;
    margin: auto;
    padding: 50px;
}

.container-header .wrap-gamb {
    width: 100%;
}

.container-header .gamburger {
    display: none;
    text-align: right;
    color: darkorange;
}

.di-block {
    display: block;
}

.container-header .gamburger i {
    padding: 6px 10px;
}

.container-header .gamburger i:hover {
    background: deepskyblue;
    color: white;
}

@media (min-width: 320px ) and ( max-width: 600px ) {
    .container-header .gamburger {
        display: block;
        cursor: pointer;
    }

    .lists {
        display: none;
    }

    .nav-bar .bar ul li, .nav-bar .bar .lists {
        float: none;
    }

    .nav-bar .bar ul li a {
        width: 100%;
    }

    .nav-bar .bar {
        background: rgba(0, 0, 0, 0.4);
    }

}

/*======================================================================*/
.container-main {
    border: 1px solid;
    box-sizing: border-box;
    max-width: 1470px;
    margin: auto;
    padding: 50px 20px;
}

.container-main .first-main {
    border: 1px solid black;
    padding: 10px;
}

.container-main .first-main a {
    text-decoration: none;
    color: black;
}

.container-main .first-main .item-up_1, .item-up_2, .item-up_3 {
    background: gainsboro;
}

.item-up_1, .item-up_2, .item-up_3, .item-bottom_1, .item-bottom_2, .item-bottom_3 {
    border: 1px solid black;
    padding: 10px;
}

.item-up_1, .item-up_2, .item-up_3 {
    border-radius: 3px;
    cursor: pointer;
}

.container-main .item-up_1:hover, .item-up_2:hover, .item-up_3:hover {
    background: gray;
}

.fa-caret-right {
    padding-right: 5px;
}

.item-bottom_1, .item-bottom_2, .item-bottom_3 {
    padding: 20px;
    margin-bottom: 3px;
}

.nety {
    display: none;
}

.nety_2 {
    display: none;
}

.container-main .first-main .backblue {
    background: deepskyblue;
    color: white;
}

.fa-caret-right {
    display: block;
}

/*=======================================================================*/

.second-main {
    margin-top: 20px;
    border: 1px solid;
    padding: 10px;
}

.second-main a {
    border: 1px solid;
    text-decoration: none;
    padding: 10px;
    color: black;
    background: gainsboro;
    border-radius: 3px;
    display: inline-block;
}

.second-main a:hover, .clouse:hover {
    background: gray;
    cursor: pointer;
}

.second-main .clouse {
    border: 1px solid;
}

.second-main a:focus, .second-main .okno-pop-up .title-great .clouse:focus {
    background: deepskyblue;
    color: white;
}

table {
    margin-bottom: 20px;
}

td, th {
    padding: 5px;
    border: 1px solid gainsboro;
}

th {
    background: gainsboro;
}

@media (min-width: 320px ) and ( max-width: 380px ) {
    table {
        font-size: 11px;
    }
}

.blackish {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.okno-pop-up {
    background: white;
    border: 1px solid;
    position: fixed;
    max-width: 320px;
    padding: 2px;
    top: 40%;
    left: 40%;
}
@media (min-width: 320px ) and ( max-width: 380px ) {
    .okno-pop-up {
        left: 20%;
    }
}

.title-great {
    background: gainsboro;
    font-weight: 600;
    padding: 5px 10px;
}

.clouse {
    float: right;
    color: black;
    padding: 1px 3px;
    line-height: normal;
    background: ghostwhite;
}

.instruction {
    padding: 20px 10px;
}

#form {
    padding: 0 10px 20px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10px;
}

input {
    margin: 5px 0;
}

span {
    display: block;
}

/*=================================================================*/

.third-main {
    margin-top: 30px;
    border: 1px solid;
    padding: 10px;
}

.tab {
    display: inline-block;
    padding: 10px;
    border: 1px solid;
    border-bottom: none;
    text-decoration: none;
    color: black;
    background: lightgray;
    cursor: pointer;
}

.tab:hover {
    background: deepskyblue;
}

.tab_item {
    padding: 30px;
    border: 1px solid;
    border-top: none;
    background: deepskyblue;
}

.tab-backg {
    background: deepskyblue;
}

/*=====================================================================*/
.fourth-main {
    margin-top: 30px;
    border: 1px solid;
    padding: 10px;
}

.wrap-input {
    cursor: pointer;
}

.box {
    display: none;
    position: absolute;
    border: 3px solid gray;
    border-radius: 3px;
    padding: 5px;
    background: white;
}

/*=======================================================================*/
.container-footer {
    border: 1px solid;
    box-sizing: border-box;
    max-width: 1470px;
    margin: auto;
    padding: 20px;
    background: url("images/photo.png") no-repeat;
    background-size: cover;
}

.container-footer .avtor {
    font-size: 20px;
    font-family: 'Sansita', sans-serif;
    font-weight: 700;
    color: white;
}

@media (min-width: 768px ) and ( max-width: 2000px ) {

}

@media (min-width: 320px ) and ( max-width: 768px ) {

}













